body
{
  /*CG: 1. Utiliza la tipografía Dancing Script.*/
  font-family: 'Dancing Script', cursive;
  /*CG: 2. Establece el color de fondo negro #02010a.*/
  background-color: #02010a;
}


.inicioSeccionCabecera{

  width: 100%;
   margin: 0;
   padding: 50px;
   border-radius: 10px 10px 0px 0px;
   background-color: #5b7989;
   display: flex;
   flex-direction: row;


}

img{
    -webkit-box-shadow: 2px 2px 0 #02010a;
}

.titulo{
  text-align: left;
  margin: 10px;
  padding: 0;
  border: 0;
  float: left;
  width: 50%;
  color: white;
  text-shadow: 2px 2px #02010a;

}

.links{
  text-align: right;
  margin: 10px;
  padding: 0;
  border: 0;
  float: right;
  width: 50%;

}


.inicioImagenPrincipal{
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: #82c3a6;

}

.inicioImagenPrincipal .imagenPrincipal{
  width: 80%;
  display: block;
  margin: auto;
}

.inicioImagenesSecundarias{


  display: flex;
  flex-direction:row;
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color:  #d5c75f;
  border = 1px;
}
.imagenIzquierda{

  flex-grow: 1;

}
.imagenIzquierda img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.imagenDerecha{

    flex-grow: 1;
}
.imagenDerecha img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.imagenDerecha img:hover
{

  transform: translate(20px,-5px);
  -webkit-box-shadow: 2px 2px 0 #82c3a6;
}
.imagenIzquierda img:hover
{
    transform: rotate(10deg);
    -webkit-box-shadow: 2px 2px 0 #82c3a6;
}

.figCaptionCSS{
  text-align: center;

}

.Pie
{
   width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
 display: flex;
  flex-direction: row;
  margin: 0;
  padding: 50px;
}



.galeria{


  display: flex;
  flex-direction:row;
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color:  #d5c75f;
  border = 1px;
}

#gal1 figure img{
  -webkit-filter:blur(10px);
}
#gal2 figure img{
  -webkit-filter:grayscale(100%);
}
#gal3 figure img{
  -webkit-filter:sepia(90%);
}
#gal4 figure img{
  -webkit-filter:grayscale(100%);
}
#gal6 figure img{
  -webkit-filter:grayscale(100%);
}


header{
  animation: animacionCabecera 1s;
}
@-webkit-keyframes animacionCabecera
{
  0%{
    margin-top:  150%;
  }
  60%{
    margin-top:  -5%;
  }
  100%{
    margin-top:  0%;
  }
}



@media (min-width:900px)
{
  .inicioSeccionCabecera{

     flex-direction: row;
}


  .inicioImagenesSecundarias{
    flex-direction: row;
  }

  .Pie
  {
    flex-direction: row;

  }
  .imagenDerecha, .imagenIzquierda
  {
    width: 50%;
  }
.inicioSeccionCabecera, .inicioImagenPrincipal
{
    width: 100%;
}
.contacto, .termino, .redesSociales, .derechosAutor
{
  float: left;
  width: 25%;
}
.galeria
{
  flex-direction: row;

}
.columna1, .columna2, .columna3
{
  float: left;
  width: 33%;
}

    .Contenido {
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
    }
}
@media (max-width:899px)
{
  .Contenido {
width: 100%;
  margin-left: auto;
  margin-right: auto;
  }


  .inicioSeccionCabecera{

     flex-direction: column;
}
.titulo, .links{
  text-align: center;
}

  .inicioImagenesSecundarias{
    flex-direction: column;
  }

  .Pie
  {
    flex-direction: column;

  }
  .contacto, .termino, .redesSociales, .derechosAutor
  {

    width: 100%;
  }
  .galeria
  {
    flex-direction: column;

  }
  .columna1, .columna2, .columna3
  {
      width: 100%;
  }

}
